

.jumbotron{
    text-align: center;
  }
.container{
    font-family: 'Vidaloka', serif;
 }
 .card-header{
    text-align: center;
    font-size: 25px;
 }
 .h2{
   text-align: center;
 }
 
 .row{
    padding: 100px;
 }
 
 .btn:hover{
    color: #415657;
    background: #fdc323;
 }
 
 .quiz:hover, .answer:hover {
    background-color: lightblue;
    cursor: pointer;
    transition: 1s;
  }
  
  .answer:hover{
    /*border:1px solid #fff;*/
    transition: 1s;
  }
  
  .answer:active{
    border:1px solid #fff;
    transition: 1s;
  }

  .selectedAnswer {
    background-color: lightblue;
  }
  
  .correctAnswer {
    background-color: lightgreen;
  }
  
  .incorrectAnswer {
    background-color: red;
  }

  h2{
      text-align: center;
  }

@media (min-width: 320px) and (max-width: 480px){}
@media (min-width: 481px) and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 1024px){}
@media (min-width: 768px) and (max-width: 1024px){}
@media (min-width: 1025px) and (max-width: 1280px){}
@media (min-width: 1281px){}